/* fonts */
@font-face {
    font-family: 'GothicRegular';
    src: url('../fonts/GothicA1-Regular.ttf');
}

@font-face {
    font-family: 'GothicBold';
    src: url('../fonts/GothicA1-ExtraBold.ttf');
}

/* styles */
* {
    margin: 0;
    padding: 0;
    font-family: GothicRegular;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner {
    width: 100%;
    height: 100vh;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
    cursor: pointer;
}

.menu_icon {
    width: 25px;
    display: none;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #800000;
    font-size: 18px;
    font-family: GothicBold;
    text-transform: uppercase;

    transition: 0.5s ease;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: rgb(34, 2, 2);
    position: absolute;
    left: 0;
    bottom: -5px;

    transition: 0.5s ease;
}

.navbar ul li:hover::after {
    width: 100%;
}

.navbar ul li a:hover {
    color: rgb(34, 2, 2);
}

.navbar .active a {
    color: black;
}

.navbar .active::after {
    /* background: #ffdb58; */
    width: 100%;
}

/* contents */

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 70px;
    font-family: GothicBold;
    margin-top: 80px;
    color:#800000;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    padding: 0 15px;
    color: black;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #800000;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    transition: 0.5s;
}

span {
    background: maroon;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;

    transition: 0.5s ease;
}

button:hover span {
    width: 100%;
}

button:hover {
    /* border: none; */
    color: #DFE4FF;
}

@media only screen and (max-width:700px) {

    /* navigation bar */
    
    .logo {
        width: 120px;
        cursor: pointer;
    }

    .navbar ul {
        width: 100%;
        background: linear-gradient(#800000, #b00b0b);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    .navbar ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: right;
    }

    .navbar ul li a {
        color: #fff;
        font-family: GothicRegular;
    }

    .navbar .active a {
        color: #ffdb58;
    }

    .navbar ul li a:hover {
        color: #ffdb58;
    }

    .navbar ul li::after {
        width: 0%;
    }

    .navbar ul li:hover::after {
        width: 0%;
    }

    .navbar .active::after {
        width: 0%;
    }

    #menuList {
        overflow: hidden;

        transition: 0.5s ease;
    }

    .menu_icon {
        display: block;
    }


    /* contents */

    .content h1 {
        font-size: 50px;
    }

    .content p {
        font-size: 15px;
        padding-left: 12%;
        padding-right: 12%;
    }

    button {
        width: 150px;
        font-size: 12px;
    }

}